
    {% extends "layout.html" %}
    {% block main %}
    {% with messages = get_flashed_messages(with_categories=true) %} 
    {% if messages %} 
        {% for category, message in messages %}  
            <hr>
                    <p class="alert alert-secondary border text-center w-25 m-auto font-weight-bolder password-alert sticky-top {{category}}" role="alert">{{ message }}</p> 
            <hr> 
        {% endfor %}  
    {% endif %}  
    {% endwith %}  

    <div class="container-fluid var-page-container" id = "not">
        <div class = "var-page-heading"> 
            <h2 class = "var-game-title gradientcolor"> <a href = "http://www.kojimaproductions.jp/en/death_stranding." > Death Stranding </a></h2>
            <div class = "var-online-rating">
            <span class = "vargamelabels gradientcolor "> Metacritic Rating: </span>
            <div data-color ="84" class = "vargamerankings var-online-rating-data">84</div>
            </div>
            <h7 data-color ="84" class = "onlinerankdescription">Not Reviewed</h7>  
            

        </div> 
        <form action = "/editgamepage" id = "var-edit-form"  method = "post">
        <div class = "var-page-main"> 
            
                    <img class = "var-game-image" src = "https://media.rawg.io/media/games/2ad/2ad87a4a69b1104f02435c14c5196095.jpg">
                    <div class = "var-user-analytics">
                        <h6 class = "var-personal-rating analytic"> Your Rating : 
                        <div data-color = "_" class = "var-personal-rating-data varpersonalrankings var-rating-border">_</div> 
                        </h6>
                        <h6 class = "var-status analytic"> Game Status:
                        <div class = "var-status-data gradientcolorpinkwhite "> Not in List</div>
                        </h6>
                        <h6 class = "var-release-date analytic"> Game Release Date:
                        <div class = "gradientcolorpinkwhite">2019-11-08</div>
                        </h6>
                        <h6 class = "var-hours-played analytic"> Game Hours Played:
                        <div class = "var-hours-played-data gradientcolorpinkwhite"> Not in List</div>
                        </h6>

                    </div>
                    <h6 class = "var-platforms gradientcolorpinkwhite" > Platforms: PC, PlayStation 4</h6>

                <input name="gamename" value = "Death Stranding" style = "display:none">
                <button type = "button"  class = "btn btn-warning var-edit-button var-buttons" style = "display: none"> Submit Changes </button>  
                
                <button type="button" class="btn btn-success var-add-button var-buttons" id = "Death Stranding" style =  "display:block;">Add to List</button>

            
            
               <div class = "var-slug-game" id = "death-stranding" style = "display:none;"></div>


        </div>
        </form>
                <form action = "/removelist" class = "var-remove-button-form" id = "remove-form" method = "post">
                    <input name = "deletedgame" style = "display:none" value = "Death Stranding">
                    <button type = "submit" class="btn btn-danger var-remove-button var-buttons" id = "Death Stranding" style = "display:none;">Remove from List</button>
                </form>
        

    </div>
    {% endblock %}

    