
    {% extends "layout.html" %}
    {% block main %}
    {% with messages = get_flashed_messages(with_categories=true) %} 
    {% if messages %} 
        {% for category, message in messages %}  
            <hr>
                    <p class="alert alert-secondary border text-center w-25 m-auto font-weight-bolder password-alert sticky-top {{category}}" role="alert">{{ message }}</p> 
            <hr> 
        {% endfor %}  
    {% endif %}  
    {% endwith %}  

    <div class="container-fluid var-page-container" id = "yes">
        <div class = "var-page-heading"> 
            <h2 class = "var-game-title gradientcolor"> <a href = "https://www.suckerpunch.com/category/games/ghost-of-tsushima/" > Ghost of Tsushima </a></h2>
            <div class = "var-online-rating">
            <span class = "vargamelabels gradientcolor "> Metacritic Rating: </span>
            <div data-color ="83" class = "vargamerankings var-online-rating-data">83</div>
            </div>
            <h7 data-color ="83" class = "onlinerankdescription">Not Reviewed</h7>  
            

        </div> 
        <hr>
        <form action = "/editgamepage" id = "var-edit-form"  method = "post">
        <div class = "var-page-main"> 
            
                    <img class = "var-game-image" src = "https://media.rawg.io/media/games/f24/f2493ea338fe7bd3c7d73750a85a0959.jpeg">
                    <div class = "var-user-analytics">
                        <h6 class = "var-personal-rating analytic"> Your Rating : 
                        <div data-color = "90" class = "var-personal-rating-data varpersonalrankings var-rating-border">90</div> 
                        </h6>
                        <h6 class = "var-status analytic"> Game Status:
                        <div class = "var-status-data gradientcolorpinkwhite "> Playing</div>
                        </h6>
                        <h6 class = "var-release-date analytic"> Game Release Date:
                        <div class = "gradientcolorpinkwhite">2020-07-17</div>
                        </h6>
                        <h6 class = "var-hours-played analytic"> Game Hours Played:
                        <div class = "var-hours-played-data gradientcolorpinkwhite"> 71</div>
                        </h6>

                    </div>
                    <h6 class = "var-platforms gradientcolorpinkwhite" > Platforms: PlayStation 4, PlayStation 5</h6>

                <input name="gamename" value = "Ghost of Tsushima" style = "display:none">
                <button type = "button"  class = "btn btn-warning var-edit-button var-buttons" style = "display: none"> Submit Changes </button>  
                
                <button type="button" class="btn btn-success var-add-button var-buttons" id = "Ghost of Tsushima" style =  "display:none;">Add to List</button>

            
            
               <div class = "var-slug-game" id = "ghost-of-tsushima" style = "display:none;"></div>


        </div>
        </form>
                <form action = "/removelist" class = "var-remove-button-form" id = "remove-form" method = "post">
                    <input name = "deletedgame" style = "display:none" value = "Ghost of Tsushima">
                    <button type = "submit" class="btn btn-danger var-remove-button var-buttons" id = "Ghost of Tsushima" style = "display:block;">Remove from List</button>
                </form>
        

    </div>
    {% endblock %}

    