
    {% extends "layout.html" %}
    {% block main %}
    {% with messages = get_flashed_messages(with_categories=true) %} 
    {% if messages %} 
        {% for category, message in messages %}  
            <hr>
                    <p class="alert alert-secondary border text-center w-25 m-auto font-weight-bolder password-alert sticky-top {{category}}" role="alert">{{ message }}</p> 
            <hr> 
        {% endfor %}  
    {% endif %}  
    {% endwith %}  

    <div class="container-fluid var-page-container" id = "yes">
        <div class = "var-page-heading"> 
            <h2 class = "var-game-title gradientcolor"> <a href = "http://lupiesoft.com/the-reject-demon-toko/" > The Reject Demon: Toko Chapter 0 -- Prelude </a></h2>
            <div class = "var-online-rating">
            <span class = "vargamelabels gradientcolor "> Metacritic Rating: </span>
            <div data-color ="_" class = "vargamerankings var-online-rating-data">_</div>
            </div>
            <h7 data-color ="_" class = "onlinerankdescription">Not Reviewed</h7>  
            

        </div> 
        <hr>
        <form action = "/editgamepage" id = "var-edit-form"  method = "post">
        <div class = "var-page-main"> 
            
                    <img class = "var-game-image" src = "https://media.rawg.io/media/screenshots/64a/64a7c119a4cf0f8bce77da2c4e7a8002.jpg">
                    <div class = "var-user-analytics">
                        <h6 class = "var-personal-rating analytic"> Your Rating : 
                        <div data-color = "_" class = "var-personal-rating-data varpersonalrankings var-rating-border">_</div> 
                        </h6>
                        <h6 class = "var-status analytic"> Game Status:
                        <div class = "var-status-data gradientcolorpinkwhite "> Plan to Play</div>
                        </h6>
                        <h6 class = "var-release-date analytic"> Game Release Date:
                        <div class = "gradientcolorpinkwhite">2015-05-08</div>
                        </h6>
                        <h6 class = "var-hours-played analytic"> Game Hours Played:
                        <div class = "var-hours-played-data gradientcolorpinkwhite"> Never Played</div>
                        </h6>

                    </div>
                    <h6 class = "var-platforms gradientcolorpinkwhite" > Platforms: Not Yet Stored</h6>

                <input name="gamename" value = "The Reject Demon: Toko Chapter 0 — Prelude" style = "display:none">
                <button type = "button"  class = "btn btn-warning var-edit-button var-buttons" style = "display: none"> Submit Changes </button>  
                
                <button type="button" class="btn btn-success var-add-button var-buttons" id = "The Reject Demon: Toko Chapter 0 -- Prelude" style =  "display:none;">Add to List</button>

            
            
               <div class = "var-slug-game" id = "The Reject Demon: Toko Chapter 0 — Prelude" style = "display:none;"></div>


        </div>
        </form>
                <form action = "/removelist" class = "var-remove-button-form" id = "remove-form" method = "post">
                    <input name = "deletedgame" style = "display:none" value = "The Reject Demon: Toko Chapter 0 -- Prelude">
                    <button type = "submit" class="btn btn-danger var-remove-button var-buttons" id = "The Reject Demon: Toko Chapter 0 -- Prelude" style = "display:block;">Remove from List</button>
                </form>
        

    </div>
    {% endblock %}

    