
    {% extends "layout.html" %}
    {% block main %}
    {% with messages = get_flashed_messages() %} 
    {% if messages %} 
        {% for message in messages %}  
            <hr>
                    <p class="alert alert-secondary border text-center w-25 m-auto font-weight-bolder password-alert sticky-top" role="alert">{{ message }}</p> 
            <hr> 
        {% endfor %}  
    {% endif %}  
    {% endwith %}  

    <div class="container-fluid">
        <p class = "login-title gradientcolor"> <a href = "https://trialsofmana.square-enix-games.com/en-us" > Trials of Mana (2020) </a></p>
        <span class = "vargamelabels gradientcolor"> Metacritic Rating: </span>
        <div data-color ="76" class = "vargamerankings">76</div>
        <hr>
        <div class = "var-page-main"> 
                <img class = "var-game-image" src = "https://media.rawg.io/media/games/c94/c94a425492edbb2d22867bd6150bdbc2.jpg">
                <div class = "var-user-analytics">
                    <h6 class = "var-personal-rating analytic"> Your Rating : 
                    <div data-color = "_" class = "varpersonalrankings var-rating-border">_</div> 
                    </h6>
                    <h6 class = "var-status analytic"> Game Status:
                    <div class = "gradientcolorpinkwhite"> Not in List</div>
                    </h6>
                    <h6 class = "var-release-date analytic"> Game Release Date:
                    <div class = "gradientcolorpinkwhite">2020-04-24</div>
                    </h6>
                    <h6 class = "var-hours-played analytic"> Game Hours Played:
                    <div class = "gradientcolorpinkwhite"> Not in List</div>
                    </h6>

                </div>
                <h6 class = "var-platforms gradientcolorpinkwhite" > Platforms: PC, Nintendo Switch, PlayStation 4, iOS</h6>
               <form action = "/removelist" class = "var-remove-button-form" id = "remove-form" method = "post">
                <input name = "deletedgame" style = "display:none" value = "Trials of Mana (2020)">
                <button type = "submit" class="btn btn-danger var-remove-button" id = "Trials of Mana (2020)" style = "display:none;">Remove from List</button>
               </form>
               <button type="button" class="btn btn-success var-add-button" id = "Trials of Mana (2020)" style =  "display:block;">Add to List</button>


        </div>
        

    </div>

    <style> 
        .var-page-main {
            display:grid;
            grid-template-columns: 1fr .5fr 10px;
            gap: 10px;
            grid-auto-rows: min-content;
        }
        .var-game-image {
            grid-column: 2;
            grid-row: 1;
            max-height:100% !important;
            height:100%;
            min-height:100%;
            width: 100% !important;
            border-radius: 20%;
        }

        .var-personal-rating {
            grid-column: 1;
            grid-row: 1;
        }
        .var-user-analytics {
            grid-column: 1;
            display: grid;
            row-gap:20px;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: min-content;
        }
        .var-status {
            grid-column: 2;
            grid-row: 1;
        }
        .var-release-date{
            grid-column: 1;
            grid-row: 2;
        }
        .var-hours-played{
            grid-column:2;
            grid-row: 2;
        }
        .var-add-button,.var-remove-button-form{
            grid-column:1/-1;
            grid-row:3;
            margin:auto;
            width:25%;

        }
        .var-remove-button{
            width:100%;
            }
        
        .analytic {
            border-radius: 50%;
            padding: 2.5vw 2.5vw;
            background-color: rgba(105,105,105,0.5);
        }

        .var-platforms{
            grid-column: 1/-1;
            grid-row: 2;
            row-gap:3%;
            margin:auto;

        }

    </style>


    


    {% endblock %}

    