:root { /* Defining Color Variables To Use Rather Than Using The Codes*/

    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
    --red: #FF0000;
    --yellow: #FFF000;
    --blue: #0000FF;
    --silver: #C0C0C0;
    --gray: #808080;
    --cyan: #00FFFF;
    --purple: #800080;
    --magenta: #FF00FF;
    --orange: #FFA500;
    --gutter: 30px;
    --halopurple: rgb(135, 21, 241);
    --secondarycolor: rgb(135, 21, 241);
    --tertiarycolor: cyan
    --primarycolor: black;
    --defaultrankcolor:mediumpurple;
    --offblack: rgb(29,28,28) ; 
    --fontcolor: white;
    --hmpg-link-color: white;
    --linkunderline:{
      text-decoration: underline white;
      text-decoration-thickness: 5%;
      text-underline-offset: 20%;
    }

  }
  /* Global Styles*/
  .Main-Theme {
    /* --fontcolor: white; */
    --bgs: rgba(0,0,0,.8);
    --btnbgs: var(--black);
    --btnfontcolor: var(--orange);
    --scrollcolor: gray;
    --hovercolor : rgb(97, 89, 89);
    --formcolor : white;
    --formfontcolor: black;
    --bordercolor: black;
    --gradcolor1: black;
    --gradcolor2: rgb(73,73,73);
    --gradrowcolor1: rgba(0, 0, 0, 0.7);
    --gradrowcolor2:rgba(73, 73, 73, 0.7);

  }
/* Defining the font for all font colors not specifically defined. Color is based on the theme*/
* {
    color: var(--fontcolor);
    font-size: 1vw;
    /* font-weight: bolder; */

  } /* Doing this same thing with the background */
.app{
  display: grid;
  /* background-image: radial-gradient(var(--halopurple),black , black,black); */
  /* background-image: radial-gradient(var(--halopurple),rgb(198, 79, 0) , black,black); */
  background-image: linear-gradient(315deg,black, rgb(198, 79, 0) , black,var(--halopurple));

}

main{
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  
}
main::-webkit-scrollbar{
  display:none
}

#page-container {
  position: relative;
  min-height: 100vh;
}
/* footer {
  bottom: 0;
  width: 100%;
} */

body { 
     /* background-image: url(https://images.nintendolife.com/9cadce35f5d6d/persona-3-portable.large.jpg);  */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
  
    font-family: 'Courier New', Courier, monospace;
    display: grid;
    
    /*place-items: center;*/
  }

html{
 min-width: 100%;
 width: 100%;
 height: 100%;
 margin: 0px;
 padding: 0px !important;
 overflow-x: hidden; 
}

html::after,
html::before {
  background: var(--bgs);
 
}

.form-control:not(.form-select){
  color:white;
  background-color: rgb(29, 28, 28);
  border:none;
  padding: 1vw 1vh;
  font-weight: bold;
  transition: background-color 1s, color 1s;
  border-radius: 30px;
  
}

.form-select{
  color:white;
  background-color: rgb(29, 28, 28);
  border:none;
  font-weight: bold;
  transition: background-color 1s, color 1s all 1s ease-in;
}


.form-control:hover{
  /* background-color: rgb(107, 104, 104); */
  background-color:white ;
  color: black;
  /* transition: background-color 1s, color 1s; */
}

.form-control:focus{
  background-color:white ;
  color:black;
  font-weight: bold;
  border: none;

}
.Light-Theme{
  --fontcolor: var(--blue);
  --bgs: var(--white);
  --btnbgs: var(--white);
  --btnfontcolor: var(--blue);
  --scrollcolor : var(--black);
  --hovercolor: gray; 
  --formcolor : silver;
  --formfontcolor: white;
  --bordercolor: white;
  }

  h1 {
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    margin-left: 5px;
    font-size: 4vw;
    text-align: center;
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, white, aqua);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
  }
  h1>*{
    font-size: 4rem;
    text-decoration: none;
    /* transition: 3s; */

  }
  h1 > a:hover{
    text-decoration: underline white;
    text-decoration-thickness: 5%;
    text-underline-offset: 20%;
  }

  header {
    grid-column: 1/-1;
  }

  h2,#Highest-Heading {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    /* text-align: left !important;   */
    /* margin-left: 10px; */
    font-size: 3rem;
    color:var(--fontcolor);
    margin-bottom: 3rem;
    /* display:inline-flex; */
    /* align-items: flex-start; */
    padding-right: 1rem;
  }

  h2>*{
    font-size: 3rem;
  }
  .hmpg-list-title{
    font-weight: normal;
  }

  .hmpg-headings, .hmpg-headings >* {
    text-align: left;
    width:100%;
    margin-bottom: 3rem;
  }
  .view-all-redirect:hover, #game-list-label:hover{
    --hmpg-link-color : cyan;
  }

  h7{
    font-size : 3rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
  }

  .left-align{
    text-align: left !important;  
  }

  h3{
      font-family: 'Courier New', Courier, monospace;
      font-weight: bolder;
      text-align: center;
      margin: auto;
      font-size: 2.2vw;
      color:var(--fontcolor)

    }

    h4,h5{
      font-family: 'Courier New', Courier, monospace;
      font-weight: bolder;
      text-align: center;
      margin: auto;
    }

    h4{
      font-size: 1rem;
      color:var(--fontcolor)

    }
    h5{
      font-size:1rem;
      color:var(--hmpg-link-color)
    }

    .inline {
      display: inline;

    }

  hr {
    color: var(--fontcolor);
  }

  a{
    color: var(--fontcolor);
    text-decoration: none;
    transition: text-decoration 1s; 

  }


  a:hover, .form-link:hover {
    text-decoration: none;
    color:var(--fontcolor); 
    cursor: pointer;
    /* text-decoration: underline white;
    text-decoration-thickness: 5%;
    text-underline-offset: 20%; */

  }
.btn:not(.btn-link) {
  background-color: rgb(17, 16, 16);
  color:white;
  font-weight: bolder;
  /* box-shadow:2px 2px 1vw 1vw rgba(0, 0, 0,0); */
  transition: background-color .5s , color .5s, box-shadow .5s;
  border-radius: 20px;
  border-width: 3px;
  border-color: white;
  font-size: 1vw;
  overflow-wrap: break-word;
}
.form-label{
  font-size: 1vw
}


.btn:hover{
  background-color:black ;
  box-shadow:2px 2px 1vw 1vw rgba(135, 21, 241,.6);
  color: white ; 
}
/* --------

---------------------------------------------------------------------------------------------------------------------------- */
/* Specificities */
/* Choosing background color for navigation bar */
header>div>div.row {
    /*background-color: var(--fontcolor);*/
    position:sticky;
    top: 0;
    /* margin-left: -10px; */
    
     /* Negative half of width. */

    /* Clipping Content too big to fit the area*/
    /*overflow: hidden;*/ 

  }
  
  /* Formatting the navigation bar links */
  .row a:not(.account-text) {
    display: inline-block;
    /* color: var(--bgs); */
    text-align: center;
    padding: 1vw 1.2vw;
    text-decoration: none;
    font-size: 1vw;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, white, aqua);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    
  
  }
  
  /* Changing color of links if hover over them*/
  .row a:hover {
    /* background-color: var(--bgs); */
    color: var(--fontcolor);
    transition: .5s;
    text-decoration: underline white;
    text-decoration-thickness: 10%;
    text-underline-offset: 50%;
    transition: 1.0s;

  }
  
  /* Graying out the nav par page that the user is on */
  .row a.current {
    background-image: gray;
    color: var(--white);
    text-decoration: underline white;
    text-decoration-thickness: 10%;
    text-underline-offset: 50%;
  }
  .row >* {
    width: auto;
  }
  /* formatting the button to switch themes that is on the nav bar */
  

button{
  font-weight: bolder;
}



  div.scrollmenu {

    background-color:var(--scrollcolor);
    overflow-x: auto;
    overflow-y: hidden;

    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-grid;
    color: var(--fontcolor);
    font-weight: bolder; 
    text-align: center;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 1.5vw;
    height: 40%;
    width: 40%;
  }
  
  div.scrollmenu a:hover {
    background-color: var(--hovercolor);
    transition: .5s;
    
  }
  .platform {
    --fontcolor: var(--bgs);
    font-weight : bolder;
    
  }
  div.rankings{
    font-style: normal !important;
    font-weight: bold !important;
    color: white !important;
    font-size: 1.25rem !important;
    margin-bottom: 3.5%;
    padding: .5vh .5vw;
    background-color: var(--defaultrankcolor);
    border-radius: 30px;
    
  }
  span.rankings{
    font-style: normal !important;
    font-weight: bold !important;
    color: white !important;
    font-size: 1rem !important;
    /* margin: 3%; */
    padding: 1vw 1vh;
    background-color: var(--defaultrankcolor);
    border-radius: 40%;
    
  }

  .rnd-hmpg-button , .searchbar-buttons {
    background:none;
    border:none;
    margin:0;
    padding:0;
    width:100%
    }
  


  .add-list-images{
    height: 15vw !important;
    width: 60% !important;
    object-fit: fill;
    /* margin-left: auto;
    margin-right: auto; */
    border-radius: 20%;
  }
  .warning { 
    font-weight: bolder !important;
    font-size: 140%
  }

  .login-form, .registerinput,.game-highlight {
    color:var(--formfontcolor);

  }
  .login-title {
    text-align: center;
    font-weight: bolder;
    font-size: 3vw;
  }
  .login-alts {
    margin-top: 5%;
  }

  .form-container{
    z-index: 3;
    padding: 1vh 1vw;
    width: 25%;
    /* height: 50%; */
    /* border-color: white; */
    /* border-radius: 10px; */
    box-shadow:0 0 4vw 1vh white;
    background-image: linear-gradient(45deg,purple,rgb(24, 23, 23), aquamarine);
    border-radius: 30px;
    margin:auto;
    position:absolute;
    /* top:30%;
    left:37.5%; */
    top:30%;
    left:37.5%;



  }
  .form-container > *{
    color: black !important;
  }
  .login-altops{
    color: gray;
    
  }

  .vl {
    border-left: .5vw solid var(--bordercolor);
    height: 150%;
  }

  .container-fluid {
   padding: .25%;
}
.add-warning {
  display: grid;
  font-size :1.5vw; 
  font-weight: bolder;
  line-height:5cm;
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, purple, aqua);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

ul {
  list-style: none;
  padding: 0;
}

.hs {
  display: flex;
  
  /* gap: calc(var(--gutter) / 2); */
  /* grid-template-columns:  repeat(5, 1fr);
  grid-auto-rows: min-content; */
  /* overflow-x: scroll; */
  /* scroll-snap-type: x proximity; */
  padding-bottom: calc(.75 * var(--gutter));
  margin-bottom: calc(-.25 * var(--gutter));
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  flex-wrap: wrap;
  column-gap: 3vw;
  justify-content: center;


}

/* .col-lg-2{
  min-width: 20%;
  max-width:20%
} */
.account-main-page, .account-wishlist-page, .account-details-page{
  padding-left: 10%;
  padding-right: 10%;

}

.accnt-page{
  display: flex;
  flex-wrap: wrap; 
  /* column-gap: 3rem; */
  /* column-gap: 3vw; */
  justify-content: center;
  flex-direction: row;
}
.hmpg{
  padding-left: 10%;
  padding-right: 10%;
}
.var-game-page{
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 2rem;
}


.hs::-webkit-scrollbar {
  /* Chrome Hide Scrollbar */
  display: none; 
}





.hs > li,
.item {
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(45deg,var(--gradcolor1),var(--gradcolor2));
  border-radius: 15%; */
  font-size: 1.5vw;
  z-index : 1;
  opacity : .75;
  transition : opacity 1s, box-shadow 1s;
  overflow-wrap: break-word;
  overflow: hidden;
  /* min-height:30vh;
  max-height:70vh;
  max-width: 30vw; */
  margin-bottom: 2rem;
  border-radius: 30px;
  box-shadow: 0 0 0px 6px white;
  flex: 0 1 calc(20% - 8px);



}

.item-text {
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, white, aqua);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  margin-top: 3%;
  margin-bottom: 3%;
  line-height: 1em; /* a */
  /* min-height : 2em; */
  max-height: 2em;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  font-size:1.25rem; 
  font-weight:bolder;
  margin-inline-start: 5px;
  margin-inline-end: 5px;


  


}
.item-text > * {
  font-weight:300;
}
.item:hover {
  /* border-radius: 30px; */
  opacity: 1;
  box-shadow: 0 0 10px 10px white;
}

.game-image-items { 
  display: inline-block;
  /* height: 10vw !important;
  width: 40% !important;
  object-fit: fill; */

  object-fit: fill;
  --imgboxsize: 15vh;
  height:100%;
  width:100%;
  aspect-ratio: 1/1;
  /* margin-left: auto;
  margin-right: auto; */
  /* margin-bottom:2vh; */
  border-radius: 30px;
}


.item img{
  background-size: 100%;
  background-repeat: no-repeat;
}

.full {
  grid-column: 1 / -1;
}


.my-list {
  font-weight: bolder;
}
.my-list-images {
  height: 3vw !important;
  width: 80% !important;
  object-fit: fill;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40%;
}

#list-page-title {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  text-align: center !important;  
  margin-left: 10px;
  font-size: 3vw;
}

#edit-list-word{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  font-size: 2vw;
  color:var(--fontcolor);
  display:inline;
}

.edit-list-heading{

  text-align: center !important;  

}

.edit-list-choices > a {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  margin-left: 10px;
  font-size: 3vw;
  color:var(--fontcolor);
  text-decoration: none;
  display:inline;

}



#index-my-list-link, .list-table-websites, .wishlist-websites {
  text-decoration: none;
  color:var(--fontcolor)
}

#add-list-my-list-link:hover, #index-my-list-link:hover, .edit-list-choices > a:hover{
  color:blue;
  transition: .5s;

}

.list-table-websites:hover
{
  text-decoration: underline white;
  text-decoration-thickness: 10%;
  text-underline-offset: 50%;
  transition: 1.0s;

}


input {

  border: 1px solid blue;
  outline: none;
  border-radius: 5px;
  color: blue;
/*   border-bottom: none; */
}
datalist {
  background: rgba(0,0,0,.95) ;
  border-radius: 30px;
  margin-top: 100px;
  position:absolute;
  left:12.5%;
  /* margin: inline start 10px; ; */
  width: 75%;
  padding: 5px;
  max-height: 20rem;
  overflow-y: auto;
  font-weight: bolder;
  margin: auto;
  z-index: 4;
  display : block;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  
}
datalist::-webkit-scrollbar{
  display:none
}
.search-result-block{
  display: flex;
  margin-inline-start: 10px;
  left: 0px;
  /* margin-bottom: 2rem; */
  opacity: .6;
  transition: opacity 1s;
  /* background-color: black; */
  padding:1vw 1vh;
  border-radius: calc(100% * .05);
  text-align:left !important;

}
.search-result-block:hover{
  opacity:1
}


.fullsearchresults{
  border-color: cyan;
  border-width: 3px;
}
.fullsearchresults:hover{
  background-color: linear-gradient(45deg,var(--gradcolor2),var(--gradcolor1)) !important;
}

.searchlistdropdown{
  width: 25% !important;
}


option {
  /* background-color: var(--fontcolor); */
  padding: 4px;
  color: var(--bgs);
  margin-bottom: 1px;
   font-size: 1rem;
  cursor: pointer;
  font-weight: bolder;
  display: block;
  border-radius: 30px;
  width: 100%;
}

option a {
  font-size: .5vw !important;
}
option:hover,  .active{
  background-color: lightblue;
  transition: .5s;

}


label {
  font-weight: bolder;
}



td{
  color:red
}

td, tr {
  border:0
}
th, td:not(.tablerating, #editHP, #editST, #editPR) {
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, white, aqua);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  }
  thead{
    background: linear-gradient(270deg,var(--gradcolor2),var(--gradcolor1));
  }

tr:hover:not(td){
  background: linear-gradient(45deg,var(--gradcolor2),var(--gradcolor1)) !important;
}




/* Ranking Colors */
div.rankings.green, .var-online-rating-data.green {
  color:limegreen;
  background-color: limegreen !important;
  border-color: limegreen !important;

}
div.rankings.orange,div.orange:not(.tablerating), .var-online-rating-data.orange {
  color:darkorange;
  background-color:darkorange!important;
  border-color: darkorange !important;

}
div.rankings.red,div.red:not(.tablerating), .var-online-rating-data.red{
  color:red;
  background-color:red !important;
  border-color: red !important;
  
}

div.rankings.gold,div.gold:not(.tablerating), .var-online-rating-data.gold{
  color:gold;

  background-color:gold;
  border-color: gold !important;
  
}


.var-personal-rating-data.gold, .account-mcr.gold, .accountranks.gold{
  color:gold;
  border-color: gold !important;
}

.var-personal-rating-data.red, .account-mcr.red, .accountranks.red{
  color:red;
  border-color: red !important;
}
.var-personal-rating-data.orange, .account-mcr.orange, .accountranks.orange{
  color:darkorange;
  border-color: darkorange !important;
}

.var-personal-rating-data.green, .account-mcr.green, .accountranks.green{
  color:limegreen;
  border-color: limegreen !important;
}

.nobgred{
  color:red;
}
.nobggreen{
  color:limegreen
}
.nobggold{
  color:gold;
}
.nobgorange{
  color:darkorange;
}
.table-hours-played:hover, .table-personal-rating:hover, .table-status:hover {
  cursor: pointer;

}

.onlinerankdescription.green {
  color: limegreen
}
.onlinerankdescription.red {
  color: red
}
.onlinerankdescription.orange {
  color: orange
}
.onlinerankdescription.gold {
  color: gold
}
.website{
  margin: 3.5%;
}

.password-alert{
  border-radius: 0%;
  background-color: var(--bgs);
  color:var(--fontcolor);
  position:-webkit-sticky;
  position: sticky;
  top: 0; 
  border-style: outset;
  border-color: var(--fontcolor);
}
.success{
  background-color: rgba(0,255,0,.6);
  color: black;
  font-weight: bolder;
  border-radius: 30px;
  padding: 1vh 1vw;
  margin-top: 20px;
  width: 100%;
  margin-left:auto;
  margin-right:auto;
}
.error{
  background-color: rgba(255, 0, 0,.6);
  color: black;
  font-weight: bolder;
  border-radius: 30px;
  padding: 1vh 1vw;
  margin-top: 20px;
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  font-size: 1em;
}


thead{
  position:sticky;
  top:-2px;
}

.item-text {
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, white, aqua);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  margin-top: 3%;
  margin-bottom: 3%;
  line-height: 1rem; /* a */
  /* min-height : 2em; */
  max-height: 3rem;
  overflow-wrap: break-word;
  font-size:1.25rem 


}
.item-text > * {
  font-weight:lighter;
}


/* .item-text:not(.gamedboptions){
  margin-inline-start: 15%;
  margin-inline-end:15%;
} */

.gamedboptions{
  margin-inline-start: 5%;
}

.personalratingchange{
  color:black !important
}


.profile-head{
  margin:auto;

}
.profile-name{
  display:inline;
  color:var(--fontcolor);
  font-weight: bolder;
  font-size:3vw;


}
.profile-avatar{
  display: inline-flex;
  padding:.75%;
  border-radius: 50%;
  color:white;
  background-image: linear-gradient(45deg,purple,aqua);
  font-weight: bolder;
  font-size:2.5vw;
  text-transform: uppercase;
  margin-left: 1%;
}

.profile-row{
  margin:auto;
  padding: 2%;
  font-weight: bolder;
  font-size : 1.5vw;
  text-decoration: none;
  position: sticky;
  top: 0;
}

.ls-overflow{
  overflow-x: scroll;
}
.profile-row>*{
  font-size: 1.5rem;
}
.profile-row>a{
background-color: #f3ec78;
background-image: linear-gradient(45deg, white, aqua);
background-size: 100%;
background-clip: text;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent; 
-moz-text-fill-color: transparent;

margin-right: 2%;
margin-left: 2%
}

.profile-row>a:hover {
  text-decoration: underline white;
  text-decoration-thickness: 10%;
  text-underline-offset: 50%;
  transition: .5s;
}

.profile-row> a.current{
  text-decoration: underline white;
  text-underline-offset: 50%;
  text-decoration-thickness: 10%;
}
.account-item {
  box-shadow: 0 0px 8px 0 rgba(0,0,0,0.0);
  transition:box-shadow 0.5s;
  border-radius: 20px; /* 5px rounded corners */
  /* display:flex; */
   margin-bottom: 5vh;
   /* flex: 0 1 50%; */
   /* min-width: 100%; */
   /* max-width: 25%; */
  /* margin-left: 2.5vw;
  margin-right: 2.5vw;  */
  /* width:100% */
  box-shadow: 0 0 0 5px white;  

}



.account-item:hover {
  box-shadow: 0px 0px 10px 10px rgb(255, 255, 255);

}



/* Add rounded corners to the top left and the top right corner of the image */
.game-card-images {
  border-radius: 20px 20px 0 0;
  height: 16.5vw !important;
  width: 100% !important;
  aspect-ratio: 1/1;
  object-fit: fill;
  /* margin-left: auto;
  margin-right: auto; */

}
.container{
  background: linear-gradient(45deg, black, rgb(73, 73, 73));
  /* width: 22vw; */
  padding: 2px 16px;
  border-radius: 0 0 20px 20px;
  overflow-wrap: break-word;
  /* grid-gap: 200px; */

}
.account-text:not(.wishlist-websites){
background-color: #f3ec78;
background-image: linear-gradient(45deg, white, aqua);
background-size: 100%;
background-clip: text;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent; 
-moz-text-fill-color: transparent;
margin-right:auto;
margin-left: auto;
margin-top: 2%;
margin-bottom: 2%;
font-size: 1vw ; 
}

.account-title{
  font-weight: bolder;

}
.wishlist-websites{
  font-weight: bolder;
}
.wishlist-websites:hover{
  text-decoration: underline white;
  text-decoration-thickness: 5%;
  text-underline-offset: 20%;
}
/* Rating Styles */
.accountranks {
padding:.5% !important;
width: 25%;

margin: auto;
margin-top: 3.5%;
margin-bottom: 3.5%;
text-align: center;
/* border-radius: 50% !important; */

background-size: 100%;
background-clip: text;
-webkit-background-clip: text;
-moz-background-clip: text;
/* -webkit-text-fill-color: transparent; 
-moz-text-fill-color: transparent; */
}
/* Metacritic Rating */
.account-mcr{
  display:inline;
  font-weight: bolder;
  margin:auto;
  color: var(--defaultrankcolor)

}
.rating-border{
  border: 2px solid ;
  border-radius: 0% !important;
  border-color: var(--defaultrankcolor); ;


}
div.rankings2{
font-style: normal !important;
font-weight: bold !important;
color: white;
font-size: 1rem !important;

padding: 1vw 1vw;
background-color: var(--defaultrankcolor);;
line-height: 1.5;
border-radius: 30px;

}
/* Rating Styles Stop */
  
.wishlist-websites{
line-height: 2%;
margin:auto;
font-size: .8vw;
display:inline;
background-color: #f3ec78;
background-image: linear-gradient(225deg, white, gray)!important;
background-size: 100%;
background-clip: text;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent; 
-moz-text-fill-color: transparent;
}

.gameoptionimages{
  width: 3vw;
  height: 3vw;
  border-radius: 5%;
}


.editgamelistoptions{
  margin-top: 5%;
  margin-bottom:  5%;
}

.text-center:not(datalist){

text-align: center !important;
}
/* th { position: sticky; top: 0; } */


.gradientcolor { 
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, white, aqua);
background-size: 100%;
background-clip: text;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent; 
-moz-text-fill-color: transparent;
}

.gradientcolorpinkwhite { 
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, white, cyan);
background-size: 100%;
background-clip: text;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent; 
-moz-text-fill-color: transparent;
}

.gradient-color-blue-black{
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, cyan, black);
background-size: 100%;
background-clip: text;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent; 
-moz-text-fill-color: transparent;
}
/* ---------------------------------------------------AutoGenerated Game Pages CSS------------------------------------------------------ */
.vargamelabels {
font-size: 2vw;
font-weight: bolder;

}



.vargamerankings{
  font-style: normal !important;
  font-weight: bold !important;
  color: white !important;
  font-size: 2vw !important;
  margin-top: 3%;
  margin: auto;
  padding: 6px 6px;
  background-color: var(--red);
  line-height: 1.5;
  border-radius: 30px;
  width: 5.5vw !important;

}
.varpersonalrankings{
  font-style: normal !important;
font-weight: bold !important;
 background-color: red;
font-size: 2vw !important;
line-height: 1.5;

padding: 1% !important;
width: 50%;
/* width: 25%; */

margin: auto;
margin-top: 3%;
margin-bottom: 3%;
text-align: center;

background-size: 100%;
background-clip: text;
-webkit-background-clip: text;
-moz-background-clip: text;
/* -webkit-text-fill-color: transparent; 
-moz-text-fill-color: transparent; */
}

h6{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  text-align: center;
  margin: auto;
  font-size: 2vw;
  color:var(--fontcolor)
}
h6 >*{
  font-size: 2rem;

}
.var-rating-border{
  border: 2px solid ;
  border-radius: 0% !important;
  border-color: var(--defaultrankcolor); ;
}


.vl {
  border-left: var(--fontcolor);
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
  
}



/* ABOUT REACT PAGE */
.about-title{
  text-align: left;
  margin-bottom: 0%;
  margin-left: 1%;
}
/* .about-main{
} */

hr.about-title-separator{
  border:10px;
}

.onlinerankdescription{
  margin-top: 3% 
}

.about-page{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 2%;
  /* grid-row-gap: 1%; */
  grid-auto-rows: min-content;
}
.about-page img{
  max-height:100% !important;
  height:30vw;
  /* min-height:100%; */
  width: 30vw !important;
  border-radius: 20%;
  margin-top:1vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:auto;

}
.about-title{
  grid-column: 1/-1;
  margin-bottom: 3%;
  text-align: center;
}

.about-page h4{
  font-size: 2vw;
}
.about-text{
  margin-left:2%;
}

.about-page hr{
  grid-column:1/-1
}




/* -----------------------------------------------------------The Game Web Page Styling-------------------------------------------------------------- */
.var-page-main {
  display:grid;
  grid-template-columns: 1fr .5fr 10px;
  grid-row-gap: 1%;
  grid-auto-rows: min-content;
  /* overflow: hidden; */

}
.var-page-heading {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  gap:1%;
  grid-auto-rows: min-content;
}
.var-game-title{
  grid-column: 1/-1;
  grid-row: 1;
}
.var-game-title>a:hover{
  text-decoration: underline white;
  text-decoration-thickness: 5%;
  text-underline-offset: 20%;
}

.var-online-rating{
  grid-column: 1;
  grid-row: 2;
}

.onlinerankdescription{
  grid-column: 2;
  grid-row: 2;
}
.var-game-image {
  grid-column: 2;
  grid-row: 1;
  max-height:50vh !important;
  height:100%;
  min-height:100%;
  width: 100% !important;
  border-radius: 20%;
}

.var-personal-rating {
  grid-column: 1;
  grid-row: 1;
}
.var-user-analytics {
  grid-column: 1;
  display: grid;
  row-gap:20px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: min-content;
}
.var-status {
  grid-column: 2;
  grid-row: 1;
}
.var-release-date{
  grid-column: 1;
  grid-row: 2;
}
.var-hours-played{
  grid-column:2;
  grid-row: 2;
}
.var-add-button,.var-remove-button{
  grid-column:1/-1;
  grid-row:3;
  width:25%;
  margin: auto;
  border-width: 3px;

  transition: box-shadow .5s, background-color .5s, color .5s;
  border-radius:20px
}
.var-add-button, .add-button{
  border-color:blue !important ;
}
.var-remove-button{
  border-color:red !important;
}
.var-game-title{
  margin-inline-start: 10%;
  margin-inline-end:10%;
}

.var-add-button:hover, .add-button:hover{
  box-shadow:2px 2px 1vw 1vw rgba(0, 0, 255,.6);

}
.var-remove-button:hover{
  box-shadow:2px 2px 1vw 1vw rgba(255, 0, 0,.6);
}

.var-edit-button{
  grid-column: 1/-1;
  grid-row :3;
  margin-left:auto;
  margin-right:auto;
  margin-top:2%;
  margin-bottom:2%;
  
  width: 25%;
}
.var-buttons{
  font-weight:bolder;
  font-size: 1vw;
}

.analytic {
  border-radius: 25px;
  padding: 2.5vw 2.5vw;
  background-color: rgba(3, 7, 129, 0.5);
  box-shadow: 2px 2px 1vw 1vw rgba(0, 0, 0, 0);
  transition: box-shadow .3s;
}
.analytic:hover{
  box-shadow: 2px 2px 1vw 1vw rgba(255, 255, 255, .6);

}

.var-platforms{
  grid-column: 1/-1;
  grid-row: 2;
  row-gap:3%;
  margin-left:auto;
  margin-right:auto;
  margin-top:2%;
  margin-bottom:2%;
  margin-inline-start: 10%;
  margin-inline-end: 10%;
}
.var-game-page{
  z-index: 0;
}

.add-list-form{
  position: fixed; /* or absolute */
  top: 3vh;
  left: 30%;
  z-index:10;
  display:grid ;
  /* width : 50%; 
  height : 50%;  */
  background-image: linear-gradient(45deg,rgba(29, 28, 28,1),rgb(135, 21, 241,1));
  border-radius : 30px;
  overflow-wrap: break-word;
  width: 40%;
  max-height: 90vh;
  padding-bottom: 5vh;
}

.add-list-picture{
  width:100%;
  height:100%;
  max-height: 50vh;
  border-top-left-radius:  30px;
  border-top-right-radius:  30px;
}
.picture-spacing{
  margin-bottom: 5%;
}

#add-list-title{
  color:black;
  margin-inline-start: 10%;
  margin-inline-end: 10%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: block;
  line-height: 1em; /* a */
  max-height: 2em;
  font-weight: 1000;
}
.disable-bg-page{
  z-index: 2;
  position: fixed;
  top:0; 
  left:0;
  height:100%;
  width:100%;
  background-color: rgba(0, 0, 0, 0.6);
}

/* .hide-overflow{
  overflow-x: hidden !important;
  overflow-y: hidden !important;

} */

/* ---------------------------- */
.acct-dtl-name{
  text-align: left;
}


.loader {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #000000;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
  transition: opacity 0.3s;
  z-index: 15;
}

.loader--hide {
  opacity: 0;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.svgLoader {
  animation: spin 0.5s linear infinite;
  margin: auto;
}
.divLoader {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* LIST PAGE STYLING */
.my-list-table{
  display: grid;
  grid-template-columns: .8fr 1.5fr .7fr;
  grid-auto-rows:min-content;
}
.my-list-table>table{
  grid-column: 2;
  border-color: white;
  border-radius: 30px;
  border-width: 4px;
  box-shadow: 0 2px 50px rgba(124, 17, 201, 0.7)
}

.edit-side-grid{
  display:grid ;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  row-gap: 2em;
}
aside{
  position: sticky;
  top: 10px;
  align-self: start;
}

    #sort-dropdown-list{
      grid-column: 1;

    }

    #reset-filters-button{
      grid-row:2; 
    }

.sortitem{
  font-weight: bolder;
  color:white;
  border-radius: 20px;
  transition: background-color .5s ;
  
}
.sortitem:hover{
  background-color: cyan;
  /* border-radius: 20px ; */

}

.all-sort-options, .dropdown-menu{
  background-color: rgb(29 28 28 );
  padding: 0 !important;
  border-radius: 20px;
}



.select-dropdown-options{
  background-color: var(--primarycolor);
  border-radius: 20px;
  box-shadow: 0 0 40px var(--secondarycolor) ;
  z-index: 2;
  grid-row: 1;
  /* position:absolute; */
  /* opacity: 0; */
}

.select-dropdown-item{
  line-height: 2em;
  border-radius: 20px;
  transition: background-color .8s
}
.select-dropdown-item:hover{
  background-color: var(--tertiarycolor);
}