{% extends "layoutnosearch.html" %}
{% block main %}


<script language="JavaScript">
function slugConversion() {
    var gamechoice = $("#gameSearch").val();
    var gameindex = names.indexOf(gamechoice);
    
    
    $("#gameSearch").html(`${slugs[gameindex]}`)
    
}
</script>
<div id ="addListPage">
<form action="/addlist" id = "add-form" method="post">
<div class="form-group add-game-form">
    <div class="mb-3">
    <label>Find Your Game:*</label>
    <input type = "text"  autocomplete = "off"  list = "" autofocus class="form-control mx-auto w-75 game-form game-highlight" 
    id="gameSearch" name = "game" placeholder="Search Game:" required title="Search a Game" >
    <datalist id= "gamedropdown">
        {% for i in range (1,11)%}
        <div class = "fullsearchresults">
          <option class = "item-text gamedboptions" id ="game{{i}}"> </option> 
          <img class = "gameoptionimages" id= "game{{i}}images" src ="">
        </div>
        <hr>
        {% endfor %}

    <input id = "realgameSearch" name = "sluggame" value="" style = "display: none;">
        
    </datalist>
    </div>
    <div class="mb-3 row add-list-row">
    <div class = "col">
    <label>Game Status*</label> 


        <select name="status" autocomplete="off"  class = "form-select form-control mx-auto w-25 game-form game-highlight "  placeholder = "Choose Status:" required>
            <option disable selected value>Choose Status:</option>
            <option>Plan to Play</option>
            <option>Dropped</option>
            <option>Playing</option>
            <option>On Hold</option> 
            <option>Completed</option>
            <option>Wishlist</option>

        </select>
        <style>
          select>option{
            background-color: linear-gradient(45deg,var(--gradcolor1),var(--gradcolor2)) !important;;
; 
          }
        </style>
    </div>
    <div class="col">
        <label>Hours Played</label>
        <input type = "number" class = "form-control mx-auto w-25 game-highlight" name = "hoursplayed" placeholder="Hours Played... " min="0"> 
    </div>
    </div>
    <div class="mb-3">

    <label>Game Rating (0-100):</label> 
    <input type = "number" class = "form-control mx-auto w-auto game-highlight" name = "rating"  min = "0" max = "100.0000000000000" placeholder="Your Rating:">
    </div>

    
<button class="btn btn-primary" id="game-submit-button" type="submit"  disabled>Add</button>
<script>

</script> 
<p class="add-warning">{{addwarning}}</p>
</div>
</form>

<hr>
<h2 id="add-list-label"> <a href ="/mylist" id="add-list-my-list-link"> Your List </a></h2> 
<hr>
<ul class = "hs full">
  {% for i in range(numblist|length) %}
  {% set j = numblist[i] %}
        
        <li class = "item"> 
          <div class = "item-text" ><a href = "/game/{{gamedata.name[j]}}" >{{gamedata.name[j]}} </a> </div>
            <img class = "add-list-images" alt = "{{gamedata.name[j]}} Image" src = "{{gamedata.backgroundimages[j]}}">          
            <div data-color = "{{gamedata.personalrating[j]}}" class = "rankings">{{gamedata.personalrating[j]}}</div>
            <div class = "status item-text"> {{gamedata.status[j]}}</div> 
        </li>
    {% endfor %}
<script>
  //   $( "#add-form" ).on('submit', function() {
  //   var gamechoice = $("#gameSearch").val();
  //   var gameindex = names.indexOf(gamechoice);
    
  //   $("#gameSearch").html(`${slugs[gameindex]}`);
  //   console.log(slugs[gameindex]);

  //   return true;
  // });

  // gameSearch.onkeypress = function () {
  //   gamedropdown.style.display = 'block';
  //   gameSearch.style.borderRadius = "5px 5px 0 0";  
  // };
  // for (let option of gamedropdown.options) {
  //   option.onclick = function () {
  //     gameSearch.value = option.value;
  //     gamedropdown.style.display = 'none';
  //     gameSearch.style.borderRadius = "5px";
  //   }
  // };
  
  // gameSearch.oninput = function() {
  //   currentFocus = -1;
  //   var text = gameSearch.value.toUpperCase();
  //   for (let option of gamedropdown.options) {
  //     if(option.value.toUpperCase().indexOf(text) > -3){
  //       option.style.display = "block";
  //   }else{
  //     option.style.display = "none";
  //     }
  //   };
  // }
  // var currentFocus = -1;
  // gameSearch.onkeydown = function(e) {
  //   if(e.keyCode == 40){
  //     currentFocus++
  //    addActive(gamedropdown.options);
  //   }
  //   else if(e.keyCode == 38){
  //     currentFocus--
  //    addActive(gamedropdown.options);
  //   }
  //   else if(e.keyCode == 13){
  //     e.preventDefault();
  //         if (currentFocus > -1) {
  //           /*and simulate a click on the "active" item:*/
  //           if (gamedropdown.options) gamedropdown.options[currentFocus].click();
  //         }
  //   }
  // }
  
  // function addActive(x) {
  //     if (!x) return false;
  //     removeActive(x);
  //     if (currentFocus >= x.length) currentFocus = 0;
  //     if (currentFocus < 0) currentFocus = (x.length - 1);
  //     x[currentFocus].classList.add("active");
  //   }
  //   function removeActive(x) {
  //     for (var i = 0; i < x.length; i++) {
  //       x[i].classList.remove("active");
  //     }
  //   }

</script>

</div>
{% endblock %}

