{% extends "accountlayout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <div class ="change-password">
    <div class="container2">
        <!-- Direction To Indicate What To Do-->
        <label for="password">Set New Password:</label></p>
        <form action="/account/changepassword" method="post">
            <!-- Proper Spacing and Auto Sizing For The Two Passwords -->
            <div class="mb-3">
                <div class="form-group">
                    <input class="form-control mx-auto w-auto change-pass-form" name="oldpassword" placeholder="Old Password:" type="password"/>       
                </div>
            </div>
            <div class="mb-3">
                <div class="form-group">
                    <input class="form-control mx-auto w-auto change-pass-form" name="password" placeholder="New Password:" type="password"/>
                </div>
            </div>
            <div class="mb-3">
                <div class="form-group">
                    <input class="form-control mx-auto w-auto change-pass-form" name="confirmation" placeholder="Confirm Password" type="password"/>
                </div>
            </div>
            <button class="btn btn-primary" id = "change-pass-button" type="submit" disabled="disabled">Save</button>
        </form>
        <p class="warning">{{warning}}</p>
    </div>
</div>
<script>
    
(function() {
    $('.change-pass-form').on ('keyup click keydown input', function() {

        var empty = false;
        $('.change-pass-form').each(function() {
            if ($(this).val() == '') {
                empty = true;
            }
        });

        if (empty) {
            $('#change-pass-button').attr('disabled', 'disabled'); // updated according to http://stackoverflow.com/questions/7637790/how-to-remove-disabled-attribute-with-jquery-ie
        } else {
            $('#change-pass-button').removeAttr('disabled'); // updated according to http://stackoverflow.com/questions/7637790/how-to-remove-disabled-attribute-with-jquery-ie
        }
    });
})();

</script>
{% endblock %}