{% extends "layoutnosearch.html" %}

{% block title %}
    Forgot Password
{% endblock %}

{% block main %}

{% with messages = get_flashed_messages() %}  
{% if messages %}  
      {% for message in messages %}  
           <hr>
                <p class="alert alert-secondary border text-center w-25 m-auto font-weight-bolder password-alert sticky-top" role="alert">{{ message }}</p> 
           <hr> 
      {% endfor %}  
{% endif %}  
{% endwith %}  
    <div class ="change-password">
    <div class="container2">
        <!-- Direction To Indicate What To Do-->
        <label for="password">Set New Password (One-Time Passcode Has Been Emailed):</label></p>
        <form action="/forgotpassword" method="post">
            <!-- Proper Spacing and Auto Sizing For The Two Passwords -->

            <div class="mb-3">
                <div class="form-group">
                    <input class="form-control mx-auto w-auto forgot-pass-form" name="emailOTP" placeholder="Email OTP:" type="text"/>       
                </div>
            </div>
            <div class="mb-3">
                <div class="form-group">
                    <input class="form-control mx-auto w-auto forgot-pass-form" name="password" placeholder="New Password:" type="password"/>
                </div>
            </div>
            <div class="mb-3">
                <div class="form-group">
                    <input class="form-control mx-auto w-auto forgot-pass-form" name="confirmation" placeholder="Confirm Password" type="password"/>
                </div>
            </div>
            <button class="btn btn-primary" id = "forgot-pass-button" type="submit" disabled="disabled">Save</button>
        </form>

        <form action = "/forgotresend" method ="post">
            <hr>
            <div class="mb-3">
                <h4>Didn't Get An Email? Click<button class="btn btn-link" id = "resendbutton" type="submit" style = "font-weight: bolder;">HERE</button>or Reload the Page to Resend.</h4>
            </div>
            <hr>
        </form>
    </div>
        <p class="warning">{{warning}}</p>
    </div>
</div>
<script>
    
(function() {
    $('.forgot-pass-form').on ('keyup click keydown input', function() {

        var empty = false;
        $('.forgot-pass-form').each(function() {
            if ($(this).val() == '') {
                empty = true;
            }
        });

        if (empty) {
            $('#forgot-pass-button').attr('disabled', 'disabled'); // updated according to http://stackoverflow.com/questions/7637790/how-to-remove-disabled-attribute-with-jquery-ie
        } else {
            $('#forgot-pass-button').removeAttr('disabled'); // updated according to http://stackoverflow.com/questions/7637790/how-to-remove-disabled-attribute-with-jquery-ie
        }
    });
})();

</script>
{% endblock %}