{% extends "layout.html" %}

{% block title %}
    Forgot Password
{% endblock %}

{% block main %}

{% with messages = get_flashed_messages() %}  
{% if messages %}  
      {% for message in messages %}  
           <hr>
                <p class="alert alert-secondary border text-center w-25 m-auto font-weight-bolder password-alert sticky-top" role="alert">{{ message }}</p> 
           <hr> 
      {% endfor %}  
{% endif %}  
{% endwith %}  
<div id = "forgot-pass-form"></div>
<div class = "loader"></div>

{% endblock %}