{% extends "layoutnosearch.html" %}

{% block title %}
    Submit Your Email
{% endblock %}

{% block main %}
{% with messages = get_flashed_messages() %}  
{% if messages %}  
      {% for message in messages %}  
           <hr>
                <p class="alert alert-secondary border text-center w-25 m-auto font-weight-bolder password-alert sticky-top" role="alert">{{ message }}</p> 
           <hr> 
      {% endfor %}  
{% endif %}  
{% endwith %}  
<h6 class= "gradientcolor" style = "margin-left: auto; margin-right: auto; margin-bottom: 1%; "> Please Type Your Email</h6>
<form action="/forgotpasswordemail" method="post">
    <!-- Proper Spacing and Auto Sizing For The Two Passwords -->

    <div class="mb-3">
        <div class="form-group">
            <input class="form-control mx-auto w-auto forgot-email-form" name="email" placeholder="Your Email:" type="email"/>       
        </div>
    </div>
    <button class="btn btn-primary" id = "forgot-email-button" type="submit" disabled="disabled">Save</button>
</form>

<hr>
<h5 id = "forgot-pass-message">{{message}}</h5>
</hr>

<script>
    
    (function() {
        $('.forgot-email-form').on ('keyup click keydown input', function() {
    
            var empty = false;
            $('.forgot-email-form').each(function() {
                if ($(this).val() == '') {
                    empty = true;
                }
            });
    
            if (empty) {
                $('#forgot-email-button').attr('disabled', 'disabled'); // updated according to http://stackoverflow.com/questions/7637790/how-to-remove-disabled-attribute-with-jquery-ie
            } else {
                $('#forgot-email-button').removeAttr('disabled'); // updated according to http://stackoverflow.com/questions/7637790/how-to-remove-disabled-attribute-with-jquery-ie
            }
        });
    })();
    
    </script>

{% endblock %}
