{% extends "layout.html" %}

{% block title %}
UG DATABASE
{% endblock %}



{% block main %}
{% with messages = get_flashed_messages() %}  
{% if messages %}  
      {% for message in messages %}  
           <hr>
                <p class="alert alert-success border text-center w-25 m-auto font-weight-bolder password-alert sticky-top" role="alert">{{ message }}</p> 
           <hr> 
      {% endfor %}  
{% endif %}  
{% endwith %}  

<div id = "react-hmpg"></div>
                    

<!-- <div id="like_button_container"></div> -->

<style>
    .inlinemarker{
        display:inline;
    }

.rnd-hmpg-button {
background:none;
border:none;
margin:0;
padding:0;
width:100%
}
</style>

{% endblock %}


