{% extends "layoutnosearch.html" %}
{% block main %}

<div id="list-page-title"> Your Game List</div> 



<hr>

<div class ="edit-list-search">
  <label for="game">Find the Game You Want To View:</label>
  <input type = "text"  autocomplete = "off"  list = "" autofocus class="form-control mx-auto w-25 game-form game-highlight" 
  id="gameSearch2" name = "game" placeholder="Search Game:" required title="Search for a  Game In Your List" >
  </div> 
  <datalist class = "searchlistdropdown" id= "gamedropdown">
    {% for i in range(gamedata.name|length)%} 
     <div class = "fullsearchresults">
      <a class = "editgamelistoptions" href="#{{gamedata.name[i]}}"> {{gamedata.name[i]}}</a> 
      <!-- <img class = "editlistsearchimages" id= "{{gamedata.backgroundimages[i]}}" src = "{{gamedata.backgroundimages[i]}}"> -->
    </div>
   
    {% endfor %}
  </datalist>

  <hr>
<div class="edit-list-heading"><div id="edit-list-word">Edit: </div>  <div class ="edit-list-choices"><a id="add-list-my-list-link" href="/addlist">+</a> 
    <a id ="remove-element-list" href="/">-</a> <a id ="modify-element-list" href="/editlist">Modify</a></div>
</div> 
<table class="table table-hover  my-list">
    <caption>Your List</caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Your Rating</th>
        <th scope="col">Metacritic Rating</th>
        <th scope="col">Hours Played</th>
        <th scope="col">Status</th>
        <th scope="col">Website</th>
      </tr>
    </thead>
    {% for i in range(gamedata.name|length)%}
    <!-- {% if (i % 25 == 0) and (i != 0 ) %}
    <tbody class = "actualtablesection{{(i/25)|int + 1}}" style = "display:none">
    {% endif %} -->
      <tr id = "{{gamedata.name[i]}}">
        <th scope="row">{{i+1}}</th>
        <td><img class ="my-list-images" src = "{{gamedata.backgroundimages[i]}}"></td>
        <td><a href ="/game/{{gamedata.name[i]}}">{{gamedata.name[i]}}</a></td>
        <td data-color = "{{gamedata.personalrating[i]}}" class = "tablerating">{{gamedata.personalrating[i]}}</td>
        <td data-color = "{{gamedata.onlinerating[i]}}" class = "tablerating">{{gamedata.onlinerating[i]}}</td>
        <td>{{gamedata.hoursplayed[i]}}</td>
        <td>{{gamedata.status[i]}}</td>
        <td><a class = "list-table-websites" href = "{{gamedata.website[i]}}">{{gamedata.website[i]}}</a></td>
      </tr>
    <!-- {% if (i % 25 == 24) and (i != 24) %}
    </tbody>
    {% endif %} -->
    {% endfor %}

  </table>

  <style>
    th, td:not(.tablerating) {
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, purple, aqua);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    }
    thead, tbody{
      background: linear-gradient(270deg,var(--gradcolor2),var(--gradcolor1));
    }
  </style>
{% endblock %}
