{% extends "layout.html" %}

{% block title %}
Log In
{% endblock %}

{% block main %}
{% with messages = get_flashed_messages() %}  
{% if messages %}  
      {% for message in messages %}  
           <hr>
                <p class="alert alert-secondary border text-center w-25 m-auto font-weight-bolder password-alert sticky-top" role="alert">{{ message }}</p> 
           <hr> 
      {% endfor %}  
{% endif %}  
{% endwith %}  
<p class = login-title> REGISTER</p>
<form action="/register" method="post">
    <!-- Have Proper Spacing With Correctly Sized Boxes -->

    <div class="mb-3">
        <div class="form-group">
            <input autocomplete="off" autofocus  class="form-control mx-auto w-auto registerinput" name="email" placeholder="Email:" type="email" required>
        </div>
    </div>
    <div class="mb-3">
        <div class="form-group">
            <input autocomplete="off" autofocus  class="form-control mx-auto w-auto registerinput" name="username" placeholder="Username:" type="text" required>
        </div>
    </div>
    <div class="mb-3">
        <div class="form-group">
            <input class="form-control mx-auto w-auto registerinput" name="password" placeholder="Password:" type="password" required>
        </div>
    </div>
    <div class="mb-3">
        <div class="form-group">
            <input class="form-control mx-auto w-auto registerinput" name="confirmation" placeholder="Confirm password" type="password" required>
        </div>
    </div>
    
    <button id = "submitbutton" class="btn btn-primary" type="submit" disabled="disabled">Log In</button> 

</form>

<p class = "add-warning" role="alert"> {{warning}}</p>

{% endblock %}